<ion-list *ngIf="gameSwaps; else emptyMessage">
  <ion-item *ngFor="let gameSwap of gameSwaps">
    <app-game-swap-card [gameSwap]="gameSwap"></app-game-swap-card>
  </ion-item>
</ion-list>
<ng-template #emptyMessage>
  <app-empty-data>
  </app-empty-data>
</ng-template>
