<ion-card [style]="backgroundColorCard()">
  <img src="gameSwap.gameWished.image" />
  <ion-card-header>
      <ion-card-title color="light">{{ gameSwap.gameTitle }}</ion-card-title>
      <ion-card-subtitle color="light">{{gameSwap.gameWished.consoleTitle}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-card-subtitle color="light">{{ gameSwap.gameWished.title }}</ion-card-subtitle>
  </ion-card-content>
  <ion-item [style]="backgroundColorStatus()">
    <ion-card-subtitle color="dark">{{ gameSwap.status }}</ion-card-subtitle>
  </ion-item>
</ion-card>
