<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-input formControlName="username" type="email" placeholder="sucorreo@dominio.com"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-button type="submit" expand="block">Iniciar Sesión</ion-button>
</form>
