<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-signup-form [cities]="cities"
                   (submitForm)="onSignUpUser($event)">
  </app-signup-form>
  <ion-button type="button" color="danger" expand="block" (click)="goBack()">Cancelar</ion-button>
</ion-content>
