<ion-header>
  <ion-toolbar>
    <ion-title>Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-games-list [games]="games"
                  (gameClick)="startGameSwap($event)">
  </app-games-list>
</ion-content>
