<ion-card [style]="backgroundColor()">
  <img [src]="game.image" />
  <ion-card-header>
    <ion-card-subtitle color="medium">{{ game.consoleTitle }}</ion-card-subtitle>
    <ion-card-title color="light">{{ game.title }}</ion-card-title>
  </ion-card-header>
</ion-card>
