<ion-content *ngIf="!authenticationService.isAuthenticated; else noSession">
  <app-login (isLogged)="loadInformation()"></app-login>
</ion-content>

<ng-template #noSession>
  <ion-header>
    <ion-toolbar>
      <ion-title>Perfil</ion-title>
      <ion-title size="small">{{ session.username }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <app-profile-form [personData]="session.person"
                      [cities]="cities"
                      (submitForm)="onModifyPerson($event)">
    </app-profile-form>
  </ion-content>
</ng-template>
