<ion-list *ngIf="games; else emptyMessage">
  <ion-item *ngFor="let game of games">
    <app-game-card [game]="game"
                   (click)="onClick(game)">
    </app-game-card>
  </ion-item>
</ion-list>
<ng-template #emptyMessage>
  <app-empty-data>
  </app-empty-data>
</ng-template>
