<ion-card (click)="onClick()">
    <img src="{{ console.image }}"/>

    <ion-card-content>
        <ion-card-title>
            {{ console.title }}
        </ion-card-title>
    </ion-card-content>
</ion-card>
