<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-text>
      <h4>Información de Usuario</h4>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-input formControlName="username" type="email" placeholder="sucorreo@dominio.com"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="repassword" type="password" placeholder="Confirme Contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-text>
      <h4>Información Personal</h4>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-input formControlName="forename" type="text" placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="lastname" type="text" placeholder="Apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="address" type="text" placeholder="Dirección"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ciudad</ion-label>
    <ion-select formControlName="city" interface="popover">
      <ion-select-option *ngFor="let city of cities" [value]="city">{{city.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input formControlName="mobile" type="text" placeholder="Teléfono Movil"></ion-input>
  </ion-item>
  <ion-button type="submit" expand="block">Registrarse</ion-button>
</form>
