<ion-item>
  <h3>Información Personal</h3>
</ion-item>
<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-input type="text" 
              formControlName="forename"
              placeholder="Nombre">
    </ion-input>
    <ion-input type="text" 
              formControlName="lastname" 
              placeholder="Apellido">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="home"></ion-icon>
    <ion-input type="text" 
              formControlName="address" 
              placeholder="Direccion">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="business"></ion-icon>
    <ion-select formControlName="city" interface="popover">
      <ion-select-option *ngFor="let city of cities" [value]="city">{{city.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-icon name="call"></ion-icon>
    <ion-input type="text" 
              formControlName="mobile" 
              placeholder="Movil">
    </ion-input>
  </ion-item>
  <ion-button id='editButton' (click)="enableForm()" expand="block">Editar</ion-button>
  <ion-button type="submit" id="sendButton" expand="block">Enviar </ion-button>
</form>
