<form [formGroup]="gameSwapForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-input type="text"
              formControlName="gameTitle"
              placeholder="Título del juego">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text"
              formControlName="gameDescription"
              placeholder="Descripción">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-select formControlName="gameConsole" interface="popover">
      <ion-select-option *ngFor="let gameConsole of gamesConsole" [value]="gameConsole">{{gameConsole.title}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <!-- TODO: implementes GameSwapPhotoComponent -->
  </ion-item>
  <ion-button id='emitButton' type="submit" expand="block">Enviar</ion-button>
</form>