<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-login-form (submitForm)="onLogin($event)"></app-login-form>
  <ion-text color="primary" (click)="goToSignUpForm()">
    <p align="center">¿No está registrado?</p>
  </ion-text>
</ion-content>
